[Desktop Entry]
Name=spnavcfg
Comment=Configures settings for spacenavd
Exec=spnavcfg
Icon=spnavcfg
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
